@import "../../scss/utilities/variables";
.request-medical-appointment {
  //   padding: 0 1rem;
  &__title {
    margin-bottom: calc(2.5rem + 24px) !important;
    margin-top: 2.5rem !important;
    text-align: center;
  }
}
