$font-family: "Open Sans", sans-serif;
$font-size: 16px;
$line-height: 1.5;

$media-sx: 360px;
$media-sm: 565px;
$media-md: 768px;
$media-lg: 1000px;
$media-xl: 1200px;
$media-xxl: 1420px;

$z-normal: 1;
$z-fixed: 100;
$z-modal: 1000;
$z-notification: 10000;
