@import "../../../../../scss/utilities/variables";
.nav-user {
  &__list {
    margin-bottom: 0;
    align-items: center;
  }

  &__item {
    cursor: pointer;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;
    @media (min-width: $media-xxl) {
      padding-left: 5px;
      padding-right: 5px;
    }
    svg {
      color: rgba(255, 255, 255, 0.794);
    }
    sup {
      box-shadow: none;
      .ant-scroll-number-only-unit {
        color: #fff;
      }
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.116);

      .je-avatar__user,
      svg {
        color: #fff;
      }
    }
  }

  .je-avatar__user {
    color: rgba(255, 255, 255, 0.794);
  }

  &__icon {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__avatar {
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  &__icon-bottom {
    margin-left: 0.5rem;
  }
}
