@import "../theme/colors";
* {
  box-sizing: border-box;
}
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background-color: $body-color;
}

img {
  max-width: 100%;
}
