.request-medical-appointment-select-day-calendar {
  &__content {
    margin-bottom: 1rem;
  }
  &--active-day {
    &::before {
      opacity: 1;
      background-color: red;
      //   color: green;
      //   border-radius: 999px;
    }
  }
}
