@import "../../scss/utilities/variables";
@import "../../scss/theme/colors";
.doctor-specialty-scene {
  overflow: none;
  &__col-left {
    order: 2;
    @media (min-width: $media-lg) {
      order: 1;
    }
  }

  &__col-right {
    order: 1;
    @media (min-width: $media-lg) {
      order: 2;
    }
  }

  &__left {
    @media (min-width: $media-lg) {
      height: calc(100% + 15rem);
    }
  }
  &__right {
    padding: 1rem 0;
  }
  &__img-container {
    @media (min-width: $media-lg) {
      margin-top: -15rem;
      position: relative;
    }
  }
  &__img-container {
    @media (min-width: $media-lg) {
      position: sticky;
      top: 80px;
    }
  }
  //   &__img {
  //     // max-height: 450px;
  //     // max-width: 350px;
  //   }
  .home-page-layout-wrapper__title-page {
    @media (min-width: $media-lg) {
      text-align: left !important;
    }
  }

  &__navigation {
    margin-bottom: 2rem;
  }

  &__staff {
    padding: 3rem 0;
    background-color: #00182e;
  }
}
