@import "../../../scss/theme/colors";
.home-page-layout {
  //   overflow: hidden;
  &__section {
    background-color: $white !important;
    min-height: 100vh !important;
  }
  &__content {
    display: flex;
    flex-direction: column;
    & > * {
      flex-grow: 1;
    }
  }
}
