@import "../../../scss/utilities/mixins/size";
.je-avatar {
  //   margin-right: 1rem;
  //   margin-bottom: 1rem;
  &__content {
    display: flex;
    align-items: center;
  }
  &__user {
    margin-left: 0.7rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
  }
}

@include sizeWidthHeight(je-avatar__img);
