@import "../../../../../scss/utilities/mixins/list";
.je-comment-actions {
  position: relative;

  .simple-list {
    margin: 0 !important;
  }
  &__like {
    &--active {
      color: red !important;
    }
  }
}
