@import "../../../../scss/utilities/variables";
@import "../../../../scss/theme/colors";

.home-page-layout-header {
  padding: 0 !important;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: $z-menu;
  &__logo {
    color: $white;
  }
  &__nav {
    position: relative;
    height: 100%;
  }
  &__toogle {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    align-items: center;
  }
  &__menu {
    position: fixed;
    left: calc(100%);
    height: calc(100vh - 64px);
    width: 200px;
    transition: transform 300ms !important;
    @media (min-width: $media-lg) {
      width: 300px;
    }
  }
  &__menu--active {
    transform: translateX(-100%) rotateX(360deg);
  }
}
