@import "../../../../scss/theme/colors";

.avatar-user {
  padding: 0.5rem;
  display: inline-block;
  &__avatar {
    display: inline-block;
  }
  &__name {
    margin-left: 0.5rem;
    margin-bottom: 0;
    color: $normal;
    &--color-white {
      color: #fff;
    }
    &--color-primary {
      color: $primary;
    }
  }
}
